## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
.vs/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## OS files
.DS_Store
Thumbs.db
